doctype html

html
    head
        title Modifier ma Tâche
        style
            include style.css
        
    body
        #global
            h1 Modifier ma Tâche : #{todo.todo}  

            form(action="/todo/modifier/", method="post")
                label(for="modiftodo") --- Entrez un nouveau nom

                #form-div
                    input(type='hidden' name='id' value=todo.id)
                    input(type="text", name="modiftodo", id="modiftodo", value=todo.todo)

                    select(name="modifcategory", id="modifcategory", required)
                        each category in ['Travail', 'Administratif', 'Maison', 'Courses']
                            if (category === todo.category)
                                option(value=category, selected)=category
                            else
                                option(value=category)=category

                    input(type="submit")

            a(href="/todo") Retour