@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

#global {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 75px;
  background: #D5C2AE;
}

h1 {
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
}

#taches {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

ul li {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-div {
  display: flex;
  gap: 10px;
}

form label {
  font-size: 1.3rem;
}

form input[type="text"] {
  width: 80%;
  padding: 7px 0;
  border-radius: 10px;
  border: 1.5px solid black;
  padding-left: 10px;
}

form select {
  padding: 7px;
  border-radius: 10px;
  border: 1.5px solid black;
}

form input[type="submit"] {
  width: 20%;
  padding: 7px 0;
  border-radius: 10px;
  border: 1.5px solid black;
  background: white;
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.delete-all,
.csv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border: 1.5px solid black;
  width: 150px;
  border-radius: 10px;
  padding: 7px;
  font-weight: 400;
}

.flash-message {
  position: absolute;
  top: 300px;
  padding: 100px 100px;
  border-radius: 20px;
  background: #594b3b;
  color: white;
}