doctype html

html
    head
        title Ma Todolist 

        style
            include style.css
        
    body
        #global
            h1 Ma Todolist 

            form(action="/todo/ajouter/" , method="post")
                label(for="newtodo") --- Que dois-je faire ?

                #form-div
                    input(type="text", name="newtodo", id="newtodo", required)

                    select(name="category", id="category", required)
                        option(value="Categories", selected)="Toutes les catégories"
                        option(value="Travail")="Travail"
                        option(value="Administratif")="Administratif"
                        option(value="Maison")="Maison"
                        option(value="Courses")="Courses"

                    input(type="submit")

            #taches
                h2 Mes tâches en cours : 
                ul
                    each todo in todolist
                        li(id=todo.category) #{todo.category + " : " + todo.todo}
                            a(href="/todo/supprimer/"+todo._id)   | ✘
                            a(href="/todo/modifier/"+todo._id+"/"+todo.category)    &#9998;

            #buttons    
                a.delete-all(href="/todo/supprimer")   Supprimer toutes les tâches
                a.csv(href="/todo/export")   Exporter en .CSV


            each types, messages in flash
                div.flash-message
                    p #{types}


    script.
        setTimeout(function() {
            let flashMessage = document.querySelector('.flash-message');
            flashMessage.style.display = 'none';
        }, 2000);